@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Use Inter globally */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}


@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(14px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUpFade 0.4s ease-out forwards;
}

.custom-blue {
  background-color: #4799D5;
}
.custom-blue:hover {
    background-color: #3a8bc7; /* slightly darker version */
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(71, 153, 213, 0.35);
  }
